# --- Attribute Definitions -------------------------------
## --- Default --------------------------------------------
[attr]default-eol              eol=lf
[attr]default                  default-eol diff merge text=auto -export-ignore

## --- Encoding -------------------------------------------
## INFO: Legacy encoding is used to guarantee critical files are readable.
## INFO: But, Legacy Encoding can also be used for files that won't use more than the 128 characters.
[attr]legacy-encoding          working-tree-encoding=US-ASCII
[attr]default-encoding         working-tree-encoding=UTF-8

## --- GitHub Linguist - [Linguist Repository](https://github.com/github-linguist/linguist)
[attr]detectable               linguist-detectable -linguist-generated -linguist-vendored
[attr]undetectable            -linguist-detectable linguist-vendored
[attr]documentation            linguist-documentation -linguist-generated -linguist-vendored
[attr]not-documentation       -linguist-documentation -linguist-generated -linguist-vendored
[attr]generated                linguist-generated linguist-vendored -linguist-documentation
[attr]not-generated           -linguist-generated -linguist-vendored
[attr]visible                  linguist-detectable -linguist-generated -linguist-vendored
[attr]hidden                   linguist-vendored -linguist-detectable
[attr]exclude-stats            linguist-vendored -linguist-documentation

## --- Presets --------------------------------------------
[attr]normal                   default-eol text detectable
[attr]my-code                  normal
[attr]third-party              hidden
[attr]build-output             generated export-ignore
[attr]binary-ignore            export-ignore -diff -merge -text -linguist-detectable
[attr]non-human-readable       binary-ignore -eol

# --- General Type Declarations ---------------------------
## --- Handle all filetypes first -------------------------
*                              default default-encoding

## --- Binary files ---------------------------------------
*.jpg                          non-human-readable
*.jpeg                         non-human-readable
*.png                          non-human-readable
*.webp                         non-human-readable
*.gif                          non-human-readable
*.o                            non-human-readable
*.a                            non-human-readable
*.bin                          non-human-readable
*.out                          non-human-readable
*.exe                          non-human-readable
*.dll                          non-human-readable
*.deb                          non-human-readable
*.rpm                          non-human-readable
*.zip                          non-human-readable
*.xpi                          non-human-readable
*.rar                          non-human-readable
*.7z                           non-human-readable

# --- Language Assignments --------------------------------
## --- Repository configuration/documentation files -------
*.gitattributes                my-code legacy-encoding   linguist-language=gitattributes
.gitignore                     my-code legacy-encoding   linguist-language=gitignore
LICENSE.xml                    my-code default-encoding  linguist-language=xml
LICENSE                        my-code default-encoding
*.txt                          my-code default-encoding
*.md                           my-code default-encoding  linguist-language=markdown diff=markdown
## --- Python Configurations ------------------------------
.python-version                my-code legacy-encoding
## --- PNPM -----------------------------------------------
*pnpm*                         exclude-stats
## --- Sass -----------------------------------------------
[attr]lang-sass                my-code working-tree-encoding=UTF-8 linguist-language=sass
*.sass                         lang-sass
*.scss                         lang-sass

# --- Generated Directories -------------------------------
dist/                          build-output -diff -merge
build/                         build-output -diff -merge
out/                           build-output -diff -merge
.log/                          build-output -diff -merge
.backups/                      build-output -diff -merge
.venv/                         build-output -diff -merge
venv/                          build-output -diff -merge
node_modules/                  build-output -diff -merge
