@use "../vars/vars" as vars;

#ETK_N_dashboard {
    background-color: vars.$background-color !important;
    * {
        color: vars.$text-color !important;
    }
    * a {
        color: vars.$primary-color !important;
    }
    .navbar {
        background-color: vars.$background-color !important;
        border-bottom: 1px solid vars.$border-color !important;
    }
    .home-page-background {
        background-color: vars.$background-color !important;
    }
    .edgenuity-logo {
        display: none !important;
    }
    .navbar-brand {
        margin-left: 20px !important;
        padding: 0 10px !important;
        background-color: vars.$background-color-secondary !important;
        outline: 1px solid vars.$border-color !important;
        border: none !important;
        border-radius: vars.$border-radius !important;
        transition: 100ms ease-in-out background-color !important;
        cursor: pointer !important;
        &:hover {
            background-color: vars.$background-color-secondary-hover !important;
        }
    }
    .navbar-brand::after {
        content: "Home Page" !important;
        font-size: 0.8em !important;
    }
    #profile-nav-dropdown {
        background: vars.$primary-color !important;
        &:hover {
            background: vars.$primary-color-hover !important;
        }
    }
    .dropdown-menu {
        background-color: vars.$background-color !important;
        .dropdown-item {
            color: vars.$primary-color !important;
            &:hover {
                background-color: vars.$background-color-hover !important;
            }
            &:active,
            &:focus {
                color: vars.$text-color !important;
                background-color: vars.$primary-color-hover !important;
            }
            &::after {
                margin-left: 10px !important;
                background-color: vars.$primary-color !important;
            }
        }
    }
    .enrollable-courses-panel {
        background-color: vars.$background-color !important;
        box-shadow: none !important;
        border-left: 1px solid vars.$border-color !important;
    }
    button.close {
        background-color: vars.$background-color !important;
        border: none !important;
        padding: 5px 10px !important;
        outline: 1px solid vars.$border-color !important;
        border-radius: vars.$border-radius !important;
        &:hover {
            background-color: vars.$background-color-hover !important;
            cursor: pointer !important;
            border-radius: vars.$border-radius !important;
        }
    }
    .user-title,
    .sidenav,
    a.sidenav-link:nth-child(1)::after {
        background-color: vars.$background-color !important;
    }
    .user-title {
        border-bottom: 1px solid vars.$border-color !important;
    }
    .sidenav ::after {
        background: vars.$background-color !important;
    }
    @media (min-width: 768px) {
        .sidenav ::after {
            background: vars.$background-color !important;
        }
    }
    #maincontent {
        border-left: none !important;
    }
    .sidenav {
        .sidenav-link {
            width: 100%;
            &:hover {
                background-color: vars.$background-color-hover !important;
                border-right: none !important;
            }
            &.active {
                background: none !important;
                background-color: vars.$primary-color !important;
                color: vars.$text-color !important;
            }
        }
    }
    #maincontent > div:nth-child(1) > dl:nth-child(2) {
        dt {
            color: vars.$text-color-dim !important;
            border-bottom: 1px solid vars.$border-color !important;
            margin-bottom: 5px !important;
        }
    }
    .email-panel,
    .announcement-panel {
        background-color: vars.$background-color !important;
        box-shadow: none !important;
        border-left: 1px solid vars.$border-color !important;
        border-bottom: 1px solid vars.$border-color !important;
        .email-message {
            border: 1px solid vars.$border-color !important;
        }
    }
    #message-list-pane {
        border-right: 1px solid vars.$border-color !important;
    }
    .email-panel-actions,
    .email-panel-header,
    .announcement-title {
        border-bottom: 1px solid vars.$border-color !important;
    }
    #reading-pane {
        padding: 10px !important;
        background-color: vars.$background-color-secondary !important;
        border-radius: vars.$border-radius !important;
        outline: 1px solid vars.$border-color !important;
    }
    .attendance-log-search-container,
    .attendance-log-header,
    .attendance-logs-content > div:nth-child(1) .row,
    #pendo-guide-container {
        background-color: vars.$background-color !important;
    }
    #pendo-guide-container {
        box-shadow: none !important;
        border: 1px solid vars.$border-color-lighter !important;
    }
    .pendo-tooltip-caret {
        border-left: 15px solid transparent !important;
        border-right: 15px solid transparent !important;
        border-bottom: 15px solid vars.$background-color !important;
    }
    .pendo-tooltip-caret-border {
        border-left: 16px solid transparent !important;
        border-right: 16px solid transparent !important;
        border-bottom: 16px solid vars.$border-color-lighter !important;
    }
    #pendo-button-72207d92 {
        background-color: vars.$primary-color !important;
        border: none !important;
        outline: none !important;
        &:hover {
            background-color: vars.$primary-color-hover !important;
            border: none !important;
            outline: none !important;
        }
    }
    a.submit-request {
        color: vars.$text-color !important;
        background-color: vars.$background-color !important;
        border-radius: vars.$border-radius !important;
        border: none !important;
        outline: 1px solid vars.$border-color !important;
        &:hover {
            background-color: vars.$background-color-hover !important;
            border-radius: vars.$border-radius !important;
            border: none !important;
            outline: 1px solid vars.$border-color !important;
        }
    }
    footer.footer {
        background-color: vars.$background-color-secondary !important;
        .float-left-50-width {
            padding-left: 20px !important;
        }
    }
    #row-head-cells,
    #row-head-cells th,
    .MuiPaper-root {
        background-color: vars.$background-color !important;
    }

    #row-head-cells th {
        border-bottom-color: vars.$background-color-hover !important;
        border-bottom-width: 1px !important;
    }

    #start_date_input > div:nth-child(1),
    #end_date_input > div:nth-child(1) {
        background-color: vars.$background-color !important;
    }

    #start_date_input
        > div:nth-child(1)
        > div:nth-child(1)
        > fieldset:nth-child(3),
    #end_date_input
        > div:nth-child(1)
        > div:nth-child(1)
        > fieldset:nth-child(3) {
        outline: none !important;
        border: none !important;
    }

    #start_date_input_button,
    #end_date_input_button {
        background-color: vars.$background-color !important;
        outline: 1px solid vars.$border-color !important;
        cursor: pointer !important;
        transition: 100ms ease-in-out background-color !important;
        &:hover {
            background-color: vars.$background-color-hover !important;
        }
    }

    #session-apply-button {
        border-radius: vars.$border-radius !important;
        background-color: vars.$primary-color !important;
        transition: 100ms ease-in-out background-color !important;
        &:hover {
            background-color: vars.$primary-color-hover !important;
        }
    }
}
